 <!DOCTYPE html>
    <html ng-app="TodoApp">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
        <!-- SwampDragon -->
        <script type="text/javascript" src="http://192.168.101.201:9999/settings.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/vendor/sockjs-0.3.4.min.js"></script>

        <!--  Swamdragon old version, does not support Angular   --->
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon-old.js"></script>

        <!--  Swamdragon newer version, does support Angular   --->
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/datamapper.js"></script>lo
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon-vanilla.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/angular/services.js"></script>

        <!-- notifications
        <script type="text/javascript" src="{{ STATIC_URL }}notifications.js"></script>
-->
        <script type="text/javascript" src="{{ STATIC_URL }}apps.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}controllers.js"></script>
    </head>
    <body>

    <h1>Notifications demo</h1>

    <!-- This is our list of notifications -->
    <ul id="notifications">
        {% for notification in object_list %}
        <li>{{ notification.message }}</li>
        {% endfor %}
    </ul>


{% verbatim %}
    <div ng-controller="TodoListCtrl">
        <h3>{{ todoList.parent_type }}</h3>
        <pre>{{ todoList.child_type }}</pre>

        <ul>
            <li ng-repeat="item in notifications">
                {{item.title}}: {{ item.message }}
                <button type="button" ng-click="itemDone(item)">
                    check
                </button>
                <span ng-show="item.done">done!</span>
            </li>
        </ul>
    </div>
{% endverbatim %}


    </body>
    </html>