<!DOCTYPE html>
    <html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>

    <h1>Notifications demo</h1>

    <!-- This is our list of notifications -->
    <ul id="notifications">
        {% for notification in object_list %}
        <li>{{ notification.message }}</li>
        {% endfor %}
    </ul>


    <!-- SwampDragon -->
    <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/vendor/sockjs-0.3.4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon-old.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/datamapper.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon-vanilla.js"></script>
    <script type="text/javascript" src="http://localhost:9999/settings.js"></script>

    <!-- notifications -->
    <script type="text/javascript" src="{{ STATIC_URL }}notifications.js"></script>
    </body>
    </html>