<!DOCTYPE html>
{% load swampdragon_tags %}

<html>
<body>
...
{% swampdragon_settings %}
<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
</body>
</html>